@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }

  .pb-safe {
    padding-bottom: calc(4rem + env(safe-area-inset-bottom, 0px));
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
